@import url('./root.css');

.board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}

.hex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* width: fit-content; */
}