@import url('./root.css');

.mobile.board-container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.mobile.game-container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
    justify-content: center;
    align-items: center;
}

.board-container {
    display: flex;
    width: 70vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.game-container {
    display : flex;
    width: 100%;
    height: 100%; 
    /* background-color: rgb(156, 225, 201); */
    background-color: white;
    flex-direction: row;
    
}

.mobile.hud-container {
    display: flex;
    position: absolute;
    width: 90%;
    height: 90%;
}

.hud-container {
    /* position: relative; */
    border: 10px solid black;
    display: flex;
    align-self: center;
    width: 20vw;
    height: 80vh;
    /* background-color: rgb(88, 207, 171); */
    margin-left: 2vw;
    background-color: rgb(243, 236, 236);
    border-radius: 5px;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.hud-container img{
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
    max-height: 100%;
    min-width: 0;
    min-height: 0;
}

.hud-container .title {
    text-align: center;
    font-size: 100px;
    font-family: aaargh;
    color: black;
    margin-top: 5%;
    margin-bottom: 0px;
}

.hud-container > * {
    margin: auto;
}

.hud-container .fancy {
    background-color: white;
    border: 3px solid black;
    font-size: x-large;
    border-radius: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-family: aaargh;
}
.hud-container button:hover {
    background-color: rgb(182, 182, 182);
}

.hud-container.false {
    display: none;
}
