:root {

    --hex-size: 100px;
    --margin-value: -8px;
    --top-margin: -2%;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.hexagon {
    width: var(--hex-size);
    height: var(--hex-size);
}

.hex-row {
    display: flex;
    justify-content: flex-start;
    margin-top: var(--top-margin);
    margin-bottom: var(--top-margin);
}
.hex-row > * {
    margin-right: var(--margin-value); /* Adjust the margin value as needed */
    margin-left: var(--margin-value); /* Adjust the margin value as needed */
}

.board{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    justify-content: center;
}

.hex-row:nth-child(2){
    margin-left: 6.25%;
}
.hex-row:nth-child(3){
    margin-left: 12.5%;
}
.hex-row:nth-child(4){
    margin-left: 18.75%;
}
.hex-row:nth-child(5){
    margin-left: 25%;
}
.hex-row:nth-child(6){
    margin-left: 31.25%;
}
.hex-row:nth-child(7){
    margin-left: 37.5%;
}
.hex-row:nth-child(8){
    margin-left: 43.75%;
}

.board-container {
    display: flex;
    width: 70vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.game-container {
    display : flex;
    width: 100%;
    height: 100%; 
    background-color: rgb(156, 225, 201);
    flex-direction: row;
}

.hud-container {
    display: grid;
    align-self: center;
    width: 20vw;
    height: 80vh;
    background-color: rgb(88, 207, 171);
    margin-left: 2vw;
    border-radius: 10px;
}

.hud-container > * {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 75px;
}
.modal {
    width: 60vw;
    height: 40vh;
    position: absolute;
    background-color: rgb(243, 236, 236);
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); align-self: center;
    justify-self: center;
    display: flex;
    color: darkslategrey;
}

.modal-close {
    position: absolute;
    right: 2%;
    top: 5%
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
